body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.snow {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: snow 10s linear infinite;
}
.snow:nth-of-type(2n) {
  width: 7px;
  height: 7px;
  animation-duration: 7s;
  opacity: 0.7;
  animation-delay: 1s;
}

.snow:nth-of-type(3n) {
  width: 11px;
  height: 11px;
  animation-duration: 12s;
}

.snow:nth-of-type(5n) {
  animation-duration: 13s;
  animation-delay: 1s;
}

.snow:nth-of-type(4n) {
  animation-duration: 12s;
}

.snow:nth-of-type(6n) {
  animation-duration: 13s;
}

@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  24% {
    opacity: 1;
    transform: translate(-5px, 20vh);
  }
  42% {
    transform: translate(13px, 40vh);
  }
  77% {
    opacity: 1;
    transform: translate(-17px, 80vh);
  }
  83% {
    transform: translate(6px, 85vh);
  }
  100% {
    opacity: 1;
    transform: translate(0, 100vh);
  }
}
